coverage==6.0.1
einops==0.4.1
gffutils==0.11.0
glob2==0.7
h5py
joblib
matplotlib==3.4.3
nbconvert==6.2.0
pandas==1.4.2
pyfaidx==0.6.2
pyfastx==0.8.4
regex==2021.10.8
scikit-learn
torch
transformers
umap-learn
